/* Table of Content
==================================================
	#Reset & Basics.
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */
/* COMPASS IMPORTS 
================================================= */
@import url("https://fonts.googleapis.com/css?family=Oswald");
/* COLORS 
================================================= */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 38, ../sass/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 45, ../sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 47, ../sass/_base.scss */
body {
  line-height: 1;
}

/* line 49, ../sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 51, ../sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 53, ../sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 57, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */
/* line 64, ../sass/_base.scss */
body {
  background: #fff;
  font: 13px/18px "minion-pro", "Times New Roman", Helvetica, Arial, sans-serif;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* #Typography
================================================== */
/* line 80, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 84, ../sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 85, ../sass/_base.scss */
h1 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 87, ../sass/_base.scss */
h1 a {
  color: #444444;
  text-decoration: none;
}
/* line 88, ../sass/_base.scss */
h1 a:hover {
  color: #c0c0c0;
  text-decoration: none;
}

/* line 91, ../sass/_base.scss */
h2 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #99a7b9;
}
/* line 93, ../sass/_base.scss */
h2 a {
  color: #99a7b9;
  text-decoration: none;
}
/* line 94, ../sass/_base.scss */
h2 a:hover {
  color: #0c2649;
  text-decoration: none;
}

/* line 98, ../sass/_base.scss */
h3 {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

/* line 99, ../sass/_base.scss */
h4 {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
}

/* line 102, ../sass/_base.scss */
p {
  margin: 0 0 18px 0;
}

/* line 103, ../sass/_base.scss */
p img {
  margin: 0;
}

/* line 106, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 107, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/*	Blockquotes  */
/* line 111, ../sass/_base.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  font-style: italic;
}

/* line 112, ../sass/_base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 113, ../sass/_base.scss */
blockquote cite {
  display: block;
  font-size: 12px;
}

/* line 114, ../sass/_base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 115, ../sass/_base.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

/* line 117, ../sass/_base.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */
/* line 122, ../sass/_base.scss */
a, a:visited {
  color: #99a7b9;
  text-decoration: none;
  outline: 0;
}

/* line 123, ../sass/_base.scss */
a:hover, a:focus {
  color: #0c2649;
}

/* line 124, ../sass/_base.scss */
p a, p a:visited {
  line-height: inherit;
}

/* line 126, ../sass/_base.scss */
a[href^="mailto"]:hover,
a[href^="mailto"]:active,
a[href^="mailto"]:focus {
  color: #fbac18;
}

/* #Lists
================================================== */
/* line 135, ../sass/_base.scss */
ul, ol {
  margin-bottom: 0px;
}

/* line 136, ../sass/_base.scss */
ul {
  list-style: none outside;
}

/* line 137, ../sass/_base.scss */
ol {
  list-style: decimal;
}

/* line 138, ../sass/_base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 139, ../sass/_base.scss */
ul.square {
  list-style: square outside;
}

/* line 140, ../sass/_base.scss */
ul.circle {
  list-style: circle outside;
}

/* line 141, ../sass/_base.scss */
ul.disc {
  list-style: disc outside;
}

/* line 142, ../sass/_base.scss */
ul ul, ul ol,
ol ol, ol ul {
  margin: 0px 0 0px 0px;
  font-size: 100%;
}

/* line 144, ../sass/_base.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 0px;
}

/* line 146, ../sass/_base.scss */
li {
  line-height: 18px;
  margin-bottom: 0px;
}

/* #Buttons
================================================== */
/* #Forms
================================================== */
/* line 164, ../sass/_base.scss */
form {
  margin-bottom: 20px;
}

/* line 166, ../sass/_base.scss */
fieldset {
  margin-bottom: 20px;
}

/* line 168, ../sass/_base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff;
}

/* line 187, ../sass/_base.scss */
select {
  padding: 0;
}

/* line 189, ../sass/_base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 198, ../sass/_base.scss */
textarea {
  min-height: 60px;
}

/* line 200, ../sass/_base.scss */
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 205, ../sass/_base.scss */
select {
  width: 220px;
}

/* line 207, ../sass/_base.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 209, ../sass/_base.scss */
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* #Images
================================================== */
/* line 218, ../sass/_base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* =============================================================================
   WordPress Image CSS Styles
   ========================================================================== */
/* line 226, ../sass/_base.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 227, ../sass/_base.scss */
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 228, ../sass/_base.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 229, ../sass/_base.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 230, ../sass/_base.scss */
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 231, ../sass/_base.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 232, ../sass/_base.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 233, ../sass/_base.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 234, ../sass/_base.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 235, ../sass/_base.scss */
.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 236, ../sass/_base.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 237, ../sass/_base.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 238, ../sass/_base.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 239, ../sass/_base.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 240, ../sass/_base.scss */
.wp-caption p.wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* line 243, ../sass/_base.scss */
.add-bottom {
  margin-bottom: 20px !important;
}

/* Table of Contents
==================================================
    #Import Base Style
    #Variables & Mixins
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing
    #Import Custom Layout */
/* #Variables & Mixins
================================================== */
/* #Breakpoint Mixins
================================================== */
/* #Base 960 Grid
================================================== */
/* line 76, ../sass/_grid.scss */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  /* Offsets */
}
/* line 79, ../sass/_grid.scss */
.container .row {
  margin-bottom: 20px;
}
/* line 80, ../sass/_grid.scss */
.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 7.5px;
  margin-right: 7.5px;
  /* Base Grid */
}
/* line 86, ../sass/_grid.scss */
.container .column.alpha, .container .columns.alpha {
  margin-left: 0;
}
/* line 87, ../sass/_grid.scss */
.container .column.omega, .container .columns.omega {
  margin-right: 0;
}
/* line 90, ../sass/_grid.scss */
.container .column.one, .container .columns.one {
  width: 85px;
}
/* line 91, ../sass/_grid.scss */
.container .column.two, .container .columns.two {
  width: 185px;
}
/* line 92, ../sass/_grid.scss */
.container .column.three, .container .columns.three {
  width: 285px;
}
/* line 93, ../sass/_grid.scss */
.container .column.four, .container .columns.four {
  width: 385px;
}
/* line 94, ../sass/_grid.scss */
.container .column.five, .container .columns.five {
  width: 485px;
}
/* line 95, ../sass/_grid.scss */
.container .column.six, .container .columns.six {
  width: 585px;
}
/* line 96, ../sass/_grid.scss */
.container .column.seven, .container .columns.seven {
  width: 685px;
}
/* line 97, ../sass/_grid.scss */
.container .column.eight, .container .columns.eight {
  width: 785px;
}
/* line 98, ../sass/_grid.scss */
.container .column.nine, .container .columns.nine {
  width: 885px;
}
/* line 99, ../sass/_grid.scss */
.container .column.ten, .container .columns.ten {
  width: 985px;
}
/* line 100, ../sass/_grid.scss */
.container .column.eleven, .container .columns.eleven {
  width: 1085px;
}
/* line 101, ../sass/_grid.scss */
.container .column.twelve, .container .columns.twelve {
  width: 1185px;
}
/* line 102, ../sass/_grid.scss */
.container .column.thirteen, .container .columns.thirteen {
  width: 1285px;
}
/* line 103, ../sass/_grid.scss */
.container .column.fourteen, .container .columns.fourteen {
  width: 1385px;
}
/* line 104, ../sass/_grid.scss */
.container .column.fifteen, .container .columns.fifteen {
  width: 1485px;
}
/* line 105, ../sass/_grid.scss */
.container .column.sixteen, .container .columns.sixteen {
  width: 1585px;
}
/* line 107, ../sass/_grid.scss */
.container .column.one-third, .container .columns.one-third {
  width: 385px;
}
/* line 108, ../sass/_grid.scss */
.container .column.two-thirds, .container .columns.two-thirds {
  width: 785px;
}
/* line 112, ../sass/_grid.scss */
.container .column img, .container .columns img {
  max-width: 100%;
}
/* line 115, ../sass/_grid.scss */
.container .offset-by-one {
  padding-left: 100px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 115, ../sass/_grid.scss */
  .container .offset-by-one {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 115, ../sass/_grid.scss */
  .container .offset-by-one {
    padding-left: 0px;
  }
}
/* line 116, ../sass/_grid.scss */
.container .offset-by-two {
  padding-left: 200px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 116, ../sass/_grid.scss */
  .container .offset-by-two {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 116, ../sass/_grid.scss */
  .container .offset-by-two {
    padding-left: 0px;
  }
}
/* line 117, ../sass/_grid.scss */
.container .offset-by-three {
  padding-left: 300px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 117, ../sass/_grid.scss */
  .container .offset-by-three {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 117, ../sass/_grid.scss */
  .container .offset-by-three {
    padding-left: 0px;
  }
}
/* line 118, ../sass/_grid.scss */
.container .offset-by-four {
  padding-left: 400px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 118, ../sass/_grid.scss */
  .container .offset-by-four {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 118, ../sass/_grid.scss */
  .container .offset-by-four {
    padding-left: 0px;
  }
}
/* line 119, ../sass/_grid.scss */
.container .offset-by-five {
  padding-left: 500px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 119, ../sass/_grid.scss */
  .container .offset-by-five {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 119, ../sass/_grid.scss */
  .container .offset-by-five {
    padding-left: 0px;
  }
}
/* line 120, ../sass/_grid.scss */
.container .offset-by-six {
  padding-left: 600px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 120, ../sass/_grid.scss */
  .container .offset-by-six {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 120, ../sass/_grid.scss */
  .container .offset-by-six {
    padding-left: 0px;
  }
}
/* line 121, ../sass/_grid.scss */
.container .offset-by-seven {
  padding-left: 700px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 121, ../sass/_grid.scss */
  .container .offset-by-seven {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 121, ../sass/_grid.scss */
  .container .offset-by-seven {
    padding-left: 0px;
  }
}
/* line 122, ../sass/_grid.scss */
.container .offset-by-eight {
  padding-left: 800px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 122, ../sass/_grid.scss */
  .container .offset-by-eight {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 122, ../sass/_grid.scss */
  .container .offset-by-eight {
    padding-left: 0px;
  }
}
/* line 123, ../sass/_grid.scss */
.container .offset-by-nine {
  padding-left: 900px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 123, ../sass/_grid.scss */
  .container .offset-by-nine {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 123, ../sass/_grid.scss */
  .container .offset-by-nine {
    padding-left: 0px;
  }
}
/* line 124, ../sass/_grid.scss */
.container .offset-by-ten {
  padding-left: 1000px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 124, ../sass/_grid.scss */
  .container .offset-by-ten {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 124, ../sass/_grid.scss */
  .container .offset-by-ten {
    padding-left: 0px;
  }
}
/* line 125, ../sass/_grid.scss */
.container .offset-by-eleven {
  padding-left: 1100px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 125, ../sass/_grid.scss */
  .container .offset-by-eleven {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 125, ../sass/_grid.scss */
  .container .offset-by-eleven {
    padding-left: 0px;
  }
}
/* line 126, ../sass/_grid.scss */
.container .offset-by-twelve {
  padding-left: 1200px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 126, ../sass/_grid.scss */
  .container .offset-by-twelve {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 126, ../sass/_grid.scss */
  .container .offset-by-twelve {
    padding-left: 0px;
  }
}
/* line 127, ../sass/_grid.scss */
.container .offset-by-thirteen {
  padding-left: 1300px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 127, ../sass/_grid.scss */
  .container .offset-by-thirteen {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 127, ../sass/_grid.scss */
  .container .offset-by-thirteen {
    padding-left: 0px;
  }
}
/* line 128, ../sass/_grid.scss */
.container .offset-by-fourteen {
  padding-left: 1400px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 128, ../sass/_grid.scss */
  .container .offset-by-fourteen {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 128, ../sass/_grid.scss */
  .container .offset-by-fourteen {
    padding-left: 0px;
  }
}
/* line 129, ../sass/_grid.scss */
.container .offset-by-fifteen {
  padding-left: 1500px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 129, ../sass/_grid.scss */
  .container .offset-by-fifteen {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 129, ../sass/_grid.scss */
  .container .offset-by-fifteen {
    padding-left: 0px;
  }
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 139, ../sass/_grid.scss */
  .container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 900px;
    /* Offsets */
  }
  /* line 142, ../sass/_grid.scss */
  .container .row {
    margin-bottom: 20px;
  }
  /* line 143, ../sass/_grid.scss */
  .container .column, .container .columns {
    /* Base Grid */
  }
  /* line 146, ../sass/_grid.scss */
  .container .column.one, .container .columns.one {
    width: 60px;
  }
  /* line 147, ../sass/_grid.scss */
  .container .column.two, .container .columns.two {
    width: 135px;
  }
  /* line 148, ../sass/_grid.scss */
  .container .column.three, .container .columns.three {
    width: 210px;
  }
  /* line 149, ../sass/_grid.scss */
  .container .column.four, .container .columns.four {
    width: 285px;
  }
  /* line 150, ../sass/_grid.scss */
  .container .column.five, .container .columns.five {
    width: 360px;
  }
  /* line 151, ../sass/_grid.scss */
  .container .column.six, .container .columns.six {
    width: 435px;
  }
  /* line 152, ../sass/_grid.scss */
  .container .column.seven, .container .columns.seven {
    width: 510px;
  }
  /* line 153, ../sass/_grid.scss */
  .container .column.eight, .container .columns.eight {
    width: 585px;
  }
  /* line 154, ../sass/_grid.scss */
  .container .column.nine, .container .columns.nine {
    width: 660px;
  }
  /* line 155, ../sass/_grid.scss */
  .container .column.ten, .container .columns.ten {
    width: 735px;
  }
  /* line 156, ../sass/_grid.scss */
  .container .column.eleven, .container .columns.eleven {
    width: 810px;
  }
  /* line 157, ../sass/_grid.scss */
  .container .column.twelve, .container .columns.twelve {
    width: 885px;
  }
  /* line 158, ../sass/_grid.scss */
  .container .column.thirteen, .container .columns.thirteen {
    width: 960px;
  }
  /* line 159, ../sass/_grid.scss */
  .container .column.fourteen, .container .columns.fourteen {
    width: 1035px;
  }
  /* line 160, ../sass/_grid.scss */
  .container .column.fifteen, .container .columns.fifteen {
    width: 1110px;
  }
  /* line 161, ../sass/_grid.scss */
  .container .column.sixteen, .container .columns.sixteen {
    width: 1185px;
  }
  /* line 163, ../sass/_grid.scss */
  .container .column.one-third, .container .columns.one-third {
    width: 285px;
  }
  /* line 164, ../sass/_grid.scss */
  .container .column.two-thirds, .container .columns.two-thirds {
    width: 585px;
  }
  /* line 169, ../sass/_grid.scss */
  .container .offset-by-one {
    padding-left: 75px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 169, ../sass/_grid.scss */
  .container .offset-by-one {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 169, ../sass/_grid.scss */
  .container .offset-by-one {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 170, ../sass/_grid.scss */
  .container .offset-by-two {
    padding-left: 150px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 170, ../sass/_grid.scss */
  .container .offset-by-two {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 170, ../sass/_grid.scss */
  .container .offset-by-two {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 171, ../sass/_grid.scss */
  .container .offset-by-three {
    padding-left: 225px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 171, ../sass/_grid.scss */
  .container .offset-by-three {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 171, ../sass/_grid.scss */
  .container .offset-by-three {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 172, ../sass/_grid.scss */
  .container .offset-by-four {
    padding-left: 300px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 172, ../sass/_grid.scss */
  .container .offset-by-four {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 172, ../sass/_grid.scss */
  .container .offset-by-four {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 173, ../sass/_grid.scss */
  .container .offset-by-five {
    padding-left: 375px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 173, ../sass/_grid.scss */
  .container .offset-by-five {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 173, ../sass/_grid.scss */
  .container .offset-by-five {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 174, ../sass/_grid.scss */
  .container .offset-by-six {
    padding-left: 450px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 174, ../sass/_grid.scss */
  .container .offset-by-six {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 174, ../sass/_grid.scss */
  .container .offset-by-six {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 175, ../sass/_grid.scss */
  .container .offset-by-seven {
    padding-left: 525px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 175, ../sass/_grid.scss */
  .container .offset-by-seven {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 175, ../sass/_grid.scss */
  .container .offset-by-seven {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 176, ../sass/_grid.scss */
  .container .offset-by-eight {
    padding-left: 600px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 176, ../sass/_grid.scss */
  .container .offset-by-eight {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 176, ../sass/_grid.scss */
  .container .offset-by-eight {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 177, ../sass/_grid.scss */
  .container .offset-by-nine {
    padding-left: 675px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 177, ../sass/_grid.scss */
  .container .offset-by-nine {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 177, ../sass/_grid.scss */
  .container .offset-by-nine {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 178, ../sass/_grid.scss */
  .container .offset-by-ten {
    padding-left: 750px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 178, ../sass/_grid.scss */
  .container .offset-by-ten {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 178, ../sass/_grid.scss */
  .container .offset-by-ten {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 179, ../sass/_grid.scss */
  .container .offset-by-eleven {
    padding-left: 825px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 179, ../sass/_grid.scss */
  .container .offset-by-eleven {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 179, ../sass/_grid.scss */
  .container .offset-by-eleven {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 180, ../sass/_grid.scss */
  .container .offset-by-twelve {
    padding-left: 900px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 180, ../sass/_grid.scss */
  .container .offset-by-twelve {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 180, ../sass/_grid.scss */
  .container .offset-by-twelve {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 181, ../sass/_grid.scss */
  .container .offset-by-thirteen {
    padding-left: 975px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 181, ../sass/_grid.scss */
  .container .offset-by-thirteen {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 181, ../sass/_grid.scss */
  .container .offset-by-thirteen {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 182, ../sass/_grid.scss */
  .container .offset-by-fourteen {
    padding-left: 1050px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 182, ../sass/_grid.scss */
  .container .offset-by-fourteen {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 182, ../sass/_grid.scss */
  .container .offset-by-fourteen {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 183, ../sass/_grid.scss */
  .container .offset-by-fifteen {
    padding-left: 1125px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (min-width: 480px) and (max-width: 899px) {
  /* line 183, ../sass/_grid.scss */
  .container .offset-by-fifteen {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) and (max-width: 479px) {
  /* line 183, ../sass/_grid.scss */
  .container .offset-by-fifteen {
    padding-left: 0px;
  }
}

/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 194, ../sass/_grid.scss */
  .container {
    width: 90%;
  }
  /* line 196, ../sass/_grid.scss */
  .container .columns, .container .column {
    margin-left: 5%;
    margin-right: 0px;
    /* Offsets */
  }
  /* line 198, ../sass/_grid.scss */
  .container .columns.one, .container .columns.two, .container .columns.three, .container .columns.four, .container .columns.five, .container .columns.six, .container .columns.seven, .container .columns.eight, .container .columns.nine, .container .columns.ten, .container .columns.eleven, .container .columns.twelve, .container .columns.thirteen, .container .columns.fourteen, .container .columns.fifteen, .container .columns.sixteen, .container .columns.one-third, .container .columns.two-thirds, .container .column.one, .container .column.two, .container .column.three, .container .column.four, .container .column.five, .container .column.six, .container .column.seven, .container .column.eight, .container .column.nine, .container .column.ten, .container .column.eleven, .container .column.twelve, .container .column.thirteen, .container .column.fourteen, .container .column.fifteen, .container .column.sixteen, .container .column.one-third, .container .column.two-thirds {
    width: 90%;
  }
  /* line 218, ../sass/_grid.scss */
  .container .columns .offset-by-one,
  .container .columns .offset-by-two,
  .container .columns .offset-by-three,
  .container .columns .offset-by-four,
  .container .columns .offset-by-five,
  .container .columns .offset-by-six,
  .container .columns .offset-by-seven,
  .container .columns .offset-by-eight,
  .container .columns .offset-by-nine,
  .container .columns .offset-by-ten,
  .container .columns .offset-by-eleven,
  .container .columns .offset-by-twelve,
  .container .columns .offset-by-thirteen,
  .container .columns .offset-by-fourteen,
  .container .columns .offset-by-fifteen, .container .column .offset-by-one,
  .container .column .offset-by-two,
  .container .column .offset-by-three,
  .container .column .offset-by-four,
  .container .column .offset-by-five,
  .container .column .offset-by-six,
  .container .column .offset-by-seven,
  .container .column .offset-by-eight,
  .container .column .offset-by-nine,
  .container .column .offset-by-ten,
  .container .column .offset-by-eleven,
  .container .column .offset-by-twelve,
  .container .column .offset-by-thirteen,
  .container .column .offset-by-fourteen,
  .container .column .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 245, ../sass/_grid.scss */
  .container {
    width: 90%;
  }
  /* line 247, ../sass/_grid.scss */
  .container .columns, .container .column {
    margin-left: 5%;
    margin-right: 0px;
  }
  /* line 249, ../sass/_grid.scss */
  .container .columns.one, .container .columns.two, .container .columns.three, .container .columns.four, .container .columns.five, .container .columns.six, .container .columns.seven, .container .columns.eight, .container .columns.nine, .container .columns.ten, .container .columns.eleven, .container .columns.twelve, .container .columns.thirteen, .container .columns.fourteen, .container .columns.fifteen, .container .columns.sixteen, .container .columns.one-third, .container .columns.two-thirds, .container .column.one, .container .column.two, .container .column.three, .container .column.four, .container .column.five, .container .column.six, .container .column.seven, .container .column.eight, .container .column.nine, .container .column.ten, .container .column.eleven, .container .column.twelve, .container .column.thirteen, .container .column.fourteen, .container .column.fifteen, .container .column.sixteen, .container .column.one-third, .container .column.two-thirds {
    width: 90%;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 277, ../sass/_grid.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 281, ../sass/_grid.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 291, ../sass/_grid.scss */
.row:after,
.clearfix:after {
  clear: both;
}

/* line 294, ../sass/_grid.scss */
.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
/* line 299, ../sass/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Table of Content
==================================================
 

/* Header Styles
================================================== */
/* line 10, ../sass/_layout.scss */
#header-new {
  transition: background-image 1s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(12, 38, 73, 0.5);
  background-blend-mode: multiply;
  position: relative;
  top: 0;
  width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 10, ../sass/_layout.scss */
  #header-new {
    height: auto;
  }
}
@media only screen and (max-width: 479px) {
  /* line 10, ../sass/_layout.scss */
  #header-new {
    height: auto;
  }
}

/* line 31, ../sass/_layout.scss */
.home-header {
  height: 70vh;
}

/* line 34, ../sass/_layout.scss */
#header-new.interior-header {
  height: 20vh;
  min-height: 145px;
  background-color: #0c2649;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 34, ../sass/_layout.scss */
  #header-new.interior-header {
    height: auto;
  }
}
@media only screen and (max-width: 479px) {
  /* line 34, ../sass/_layout.scss */
  #header-new.interior-header {
    height: auto;
  }
}

/* line 51, ../sass/_layout.scss */
.logo-new {
  padding-top: 30px;
}
/* line 54, ../sass/_layout.scss */
.logo-new:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 51, ../sass/_layout.scss */
  .logo-new {
    padding-top: 36px;
  }
  /* line 58, ../sass/_layout.scss */
  .logo-new img {
    max-width: 175px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 51, ../sass/_layout.scss */
  .logo-new {
    padding-bottom: 4px;
  }
  /* line 64, ../sass/_layout.scss */
  .logo-new img {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 51, ../sass/_layout.scss */
  .logo-new {
    padding-bottom: 4px;
  }
  /* line 70, ../sass/_layout.scss */
  .logo-new img {
    padding-left: 42px;
  }
}

/* line 75, ../sass/_layout.scss */
.navigation-new {
  margin-top: 94px;
  padding-bottom: 3px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 75, ../sass/_layout.scss */
  .navigation-new {
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    border-bottom: transparent;
  }
}
@media only screen and (max-width: 479px) {
  /* line 75, ../sass/_layout.scss */
  .navigation-new {
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    border-bottom: transparent;
  }
}

/* line 98, ../sass/_layout.scss */
ul#nav-new {
  height: 20px;
  margin-bottom: 8px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 98, ../sass/_layout.scss */
  ul#nav-new {
    width: 95%;
    margin-top: -7px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 98, ../sass/_layout.scss */
  ul#nav-new {
    height: auto;
    text-align: left;
    margin-bottom: 0px;
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 479px) {
  /* line 98, ../sass/_layout.scss */
  ul#nav-new {
    height: auto;
    text-align: left;
    margin-bottom: 0px;
    width: 100%;
    display: block;
  }
}
/* line 129, ../sass/_layout.scss */
ul#nav-new li {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 3px;
}
/* line 138, ../sass/_layout.scss */
ul#nav-new li a {
  text-decoration: none;
  color: #ffffff;
}
/* line 139, ../sass/_layout.scss */
ul#nav-new li a:hover {
  text-decoration: none;
  color: #fbac18;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 129, ../sass/_layout.scss */
  ul#nav-new li {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 129, ../sass/_layout.scss */
  ul#nav-new li {
    display: block;
    padding-top: 12px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 129, ../sass/_layout.scss */
  ul#nav-new li {
    display: block;
    padding-top: 12px;
  }
}
/* line 156, ../sass/_layout.scss */
ul#nav-new:after {
  content: "";
  width: 100%;
  margin-top: 3px;
  display: block;
  border: 1px solid #fbac18;
}

/* line 171, ../sass/_layout.scss */
.top-bar {
  text-align: right;
  position: absolute;
  right: 10px;
  z-index: 500;
}

/* line 178, ../sass/_layout.scss */
.top-links {
  margin-bottom: 7px;
  padding: .7em .7em .5em 0;
}
/* line 184, ../sass/_layout.scss */
.top-links a:hover,
.top-links a:active,
.top-links a:focus {
  opacity: .8;
}

@media only screen and (max-width: 768px) {
  /* line 192, ../sass/_layout.scss */
  .top-bar {
    position: relative;
    background-color: #0c2649;
    right: 0px;
  }
  /* line 197, ../sass/_layout.scss */
  .top-bar .top-links {
    margin-bottom: 0;
  }
}
/* Hompage NEW Styles     ************************************************
================================================== */
/* line 210, ../sass/_layout.scss */
.border_box {
  border: 1px solid #fbac18;
}

/* line 211, ../sass/_layout.scss */
.border_inner {
  margin: 4px;
  border: 1px solid #fbac18;
}

/* line 213, ../sass/_layout.scss */
.home_callout {
  margin: 4px;
  border: 1px solid #fbac18;
  text-align: center;
  padding: 16px 0px 16px 0px;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 213, ../sass/_layout.scss */
  .home_callout {
    height: 82px;
  }
}
/* line 224, ../sass/_layout.scss */
.home_callout h2 {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 229, ../sass/_layout.scss */
.home_callout h2 a {
  color: #444444;
  text-decoration: none;
}
/* line 233, ../sass/_layout.scss */
.home_callout h2 a:hover {
  color: #fbac18;
  text-decoration: none;
}

/* line 240, ../sass/_layout.scss */
.home-callout {
  padding-top: 10vh;
  text-align: center;
}
/* line 244, ../sass/_layout.scss */
.home-callout h2 {
  font-family: "minion-pro", sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: white;
}

/* line 254, ../sass/_layout.scss */
.home-form {
  width: 100%;
  margin: 0 auto;
  padding-top: 85px;
  position: relative;
  padding-left: 9%;
  margin: 0 auto;
  /* Custom Select */
}
/* line 266, ../sass/_layout.scss */
.home-form label {
  display: none;
}
/* line 268, ../sass/_layout.scss */
.home-form .field-group {
  display: inline;
  float: left;
  margin: 0 10px 0 10px;
}
/* line 274, ../sass/_layout.scss */
.home-form input[type=text] {
  font-family: "minion-pro", sans-serif;
  padding-left: 15px;
  line-height: 35px;
  height: 35px;
  font-size: 14px;
  border-radius: 2px;
  border: none;
}
/* line 284, ../sass/_layout.scss */
.home-form select {
  font-family: "minion-pro", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
  height: 35px;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}
/* line 301, ../sass/_layout.scss */
.home-form .select {
  position: relative;
  width: 20em;
  line-height: 35px;
  height: 47px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
}
/* line 312, ../sass/_layout.scss */
.home-form select {
  height: 100%;
  padding: 0 0 0 .5em;
}
/* line 320, ../sass/_layout.scss */
.home-form select::-ms-expand {
  display: none;
}
/* line 327, ../sass/_layout.scss */
.home-form button.submit {
  height: 48px;
  background-color: #fbac18;
  color: white;
  line-height: 35px;
  text-align: center;
  font-family: "minion-pro", sans-serif;
  font-size: 20px;
  border: 1px solid #fbac18;
  border-radius: 2px;
  padding: 0 20px 0 20px;
  font-weight: bold;
}
/* line 339, ../sass/_layout.scss */
.home-form button.submit:hover {
  color: #fbac18;
  cursor: pointer;
  border: 1px solid #fbac18;
  background-color: white;
}

/* line 350, ../sass/_layout.scss */
.home_line {
  margin-top: 30px;
  padding-bottom: 4px;
  border-bottom: 1px solid #99a7b9;
}
/* line 355, ../sass/_layout.scss */
.home_line:after {
  content: "";
  width: 100%;
  margin-top: 4px;
  display: block;
  border-bottom: 1px solid #99a7b9;
}

/* line 366, ../sass/_layout.scss */
a.more {
  float: right;
  font-weight: bold;
  font-style: italic;
}

/* line 370, ../sass/_layout.scss */
.border-box-new {
  border: 2px solid #fbac18;
  padding: 10px;
}

/* line 375, ../sass/_layout.scss */
.service-callout {
  text-align: center;
  padding-top: 30px;
}
/* line 378, ../sass/_layout.scss */
.service-callout h3 {
  font-size: 21px;
  line-height: 28px;
  font-weight: normal;
  padding-bottom: 20px;
}

/* line 387, ../sass/_layout.scss */
a.button {
  height: 48px;
  border: 1px solid #fbac18;
  background-color: white;
  color: #fbac18;
  line-height: 35px;
  text-align: center;
  font-family: "minion-pro", sans-serif;
  font-size: 21px;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
}
/* line 403, ../sass/_layout.scss */
a.button:hover {
  cursor: pointer;
  border: 1px solid #fbac18;
  background-color: #fbac18;
  color: white;
}

/* line 410, ../sass/_layout.scss */
.home-column-new {
  padding: 30px 0 20px 0;
}
/* line 413, ../sass/_layout.scss */
.home-column-new h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
}
/* line 419, ../sass/_layout.scss */
.home-column-new h2 a:hover {
  color: #fbac18;
}
/* line 423, ../sass/_layout.scss */
.home-column-new h3 {
  font-size: 19px;
  padding: 5px 0 10px 0px;
}
/* line 427, ../sass/_layout.scss */
.home-column-new p, .home-column-new a.more {
  font-size: 16px;
  line-height: 21px;
}
/* line 431, ../sass/_layout.scss */
.home-column-new.twitter {
  box-sizing: border-box;
  padding-left: 10px;
}
/* line 434, ../sass/_layout.scss */
.home-column-new.twitter h1 {
  display: none;
}

/* line 444, ../sass/_layout.scss */
.contact-block {
  height: 250px;
  box-sizing: border-box;
  padding: 60px 30px;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
/* line 453, ../sass/_layout.scss */
.contact-block h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  padding-bottom: 20px;
}
/* line 461, ../sass/_layout.scss */
.contact-block p {
  font-size: 16px;
  color: white;
}

/* line 467, ../sass/_layout.scss */
.pittsburgh {
  background-image: url("../images/Pittsburgh.jpg");
}

/* line 470, ../sass/_layout.scss */
.wheeling {
  background-image: url("../images/Wheeling.jpg");
}

/* line 474, ../sass/_layout.scss */
.center {
  text-align: center;
}

/* SUBHEADER Styles
================================================== */
/* line 485, ../sass/_layout.scss */
.page_title {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #0c2649;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  left: 7px;
  right: 0;
  bottom: 17%;
  margin-left: 700px;
  width: 485px;
}
/* line 500, ../sass/_layout.scss */
.page_title h1 {
  padding: 20px 12px 20px 15px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.7);
  font-family: "minion-pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 485, ../sass/_layout.scss */
  .page_title {
    margin-left: 525px;
    width: 360px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 485, ../sass/_layout.scss */
  .page_title {
    width: 410px;
    margin-left: 0px;
    width: -15px;
    right: 0;
    bottom: 4%;
  }
  /* line 513, ../sass/_layout.scss */
  .page_title h1 {
    padding: 10px 5px 5px 10px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 20px;
    font-family: "minion-pro", sans-serif;
    font-weight: bold;
    font-style: italic;
  }
}
@media only screen and (max-width: 479px) {
  /* line 485, ../sass/_layout.scss */
  .page_title {
    width: 300px;
    margin-left: 0px;
    width: -15px;
    left: 0;
    bottom: 2%;
  }
  /* line 522, ../sass/_layout.scss */
  .page_title h1 {
    padding: 8px 5px 8px 5px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 20px;
    font-family: "minion-pro", sans-serif;
    font-weight: bold;
    font-style: italic;
  }
}

/* PAGE Styles
================================================== */
/* line 529, ../sass/_layout.scss */
.page_content {
  margin-top: 20px;
  min-height: 400px;
}
/* line 534, ../sass/_layout.scss */
.page_content a:hover, .page_content a:focus, .page_content a:active {
  color: #fbac18;
}
/* line 537, ../sass/_layout.scss */
.page_content h2 {
  text-transform: uppercase;
  color: #0c2649;
  font-weight: normal;
  border-bottom: 1px solid #fbac18;
  padding-bottom: 4px;
}
/* line 543, ../sass/_layout.scss */
.page_content h2:after {
  content: "";
  width: 100%;
  margin-top: 0px;
  display: block;
  border-bottom: 1px solid #fbac18;
}

/* line 554, ../sass/_layout.scss */
.page_nav {
  padding: 15px 15px 40px 15px;
}
/* line 556, ../sass/_layout.scss */
.page_nav li {
  padding-bottom: 6px;
}
/* line 557, ../sass/_layout.scss */
.page_nav li a {
  color: #444444;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 558, ../sass/_layout.scss */
.page_nav li a:hover {
  color: #fbac18;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 554, ../sass/_layout.scss */
  .page_nav {
    padding: 15px 15px 15px 15px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 554, ../sass/_layout.scss */
  .page_nav {
    padding: 15px 15px 15px 15px;
  }
}

/* line 567, ../sass/_layout.scss */
.page_side {
  margin-top: 20px;
}

/* line 572, ../sass/_layout.scss */
.testimonials p {
  color: #0c2649;
  font-family: "minion-pro", sans-serif;
  font-weight: bold;
  font-style: italic;
  padding: 25px 15px 25px 15px;
}
@media only screen and (max-width: 479px) {
  /* line 570, ../sass/_layout.scss */
  .testimonials {
    display: none;
  }
}

/* line 589, ../sass/_layout.scss */
.landing_blocks {
  padding-left: 85px;
}
/* line 591, ../sass/_layout.scss */
.landing_blocks .columns {
  margin-bottom: 20px;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 589, ../sass/_layout.scss */
  .landing_blocks {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 589, ../sass/_layout.scss */
  .landing_blocks {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 589, ../sass/_layout.scss */
  .landing_blocks {
    padding-left: 0px;
  }
}

/* line 608, ../sass/_layout.scss */
.content ul, .content ol {
  margin-bottom: 10px;
}
/* line 609, ../sass/_layout.scss */
.content ul {
  list-style: outside;
}
/* line 610, ../sass/_layout.scss */
.content ol {
  list-style: decimal;
}
/* line 611, ../sass/_layout.scss */
.content ol, .content ul {
  margin-left: 30px;
}
/* line 613, ../sass/_layout.scss */
.content ul ul, .content ul ol,
.content ol ol, .content ol ul {
  margin: 0px 0 0px 0px;
  font-size: 100%;
}
/* line 615, ../sass/_layout.scss */
.content ul ul li, .content ul ol li,
.content ol ol li, .content ol ul li {
  margin-bottom: 0px;
}
/* line 617, ../sass/_layout.scss */
.content li {
  line-height: 18px;
  margin-bottom: 0px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 606, ../sass/_layout.scss */
  .content {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 606, ../sass/_layout.scss */
  .content {
    padding-top: 20px;
  }
}

/* FOOTER Styles
================================================== */
/* line 632, ../sass/_layout.scss */
#footer {
  width: 100%;
  background-color: #c0c0c0;
  margin-top: 80px;
}

/* line 637, ../sass/_layout.scss */
.footer {
  padding-top: 20px;
}
/* line 642, ../sass/_layout.scss */
.footer .menu ul {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  width: 450px;
}
@media only screen and (max-width: 479px) {
  /* line 642, ../sass/_layout.scss */
  .footer .menu ul {
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 642, ../sass/_layout.scss */
  .footer .menu ul {
    display: none;
  }
}
/* line 658, ../sass/_layout.scss */
.footer .menu li {
  list-style-type: none;
  font-weight: bold;
  margin-bottom: 18px;
}
/* line 663, ../sass/_layout.scss */
.footer .menu li ul li {
  font-weight: normal;
  margin-bottom: 4px;
}
/* line 665, ../sass/_layout.scss */
.footer .menu li a {
  color: #fff;
}
/* line 667, ../sass/_layout.scss */
.footer .menu li a:hover {
  color: #0c2649;
}
/* line 671, ../sass/_layout.scss */
.footer ul.footer-locations li {
  display: inline-block;
  float: left;
  padding-right: 20px;
  width: auto;
}
/* line 678, ../sass/_layout.scss */
.footer h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 18px;
}
/* line 679, ../sass/_layout.scss */
.footer span.contact {
  color: #0c2649;
}
/* line 680, ../sass/_layout.scss */
.footer p a {
  color: #0c2649;
}
/* line 681, ../sass/_layout.scss */
.footer p a:hover {
  color: #ffffff;
}
/* line 682, ../sass/_layout.scss */
.footer a img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 684, ../sass/_layout.scss */
.footer .footer_icon {
  right: 0;
  bottom: 50px;
  text-align: right;
  padding-bottom: 10px;
}
/* line 692, ../sass/_layout.scss */
.footer .footer_icon p {
  margin-top: 10px;
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 698, ../sass/_layout.scss */
  .footer .footer_icon img {
    max-width: 50px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 684, ../sass/_layout.scss */
  .footer .footer_icon {
    padding-top: 10px;
    text-align: left;
  }
}
@media only screen and (max-width: 479px) {
  /* line 684, ../sass/_layout.scss */
  .footer .footer_icon {
    padding-top: 10px;
    text-align: left;
  }
}

/* line 716, ../sass/_layout.scss */
.copyright {
  border-top: 1px solid #99a7b9;
  padding-top: 10px;
}

/* line 722, ../sass/_layout.scss */
.mesh {
  float: right;
  margin-top: -38px;
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 722, ../sass/_layout.scss */
  .mesh {
    margin-top: 0px;
    float: left;
  }
}
@media only screen and (max-width: 479px) {
  /* line 722, ../sass/_layout.scss */
  .mesh {
    margin-top: 0px;
    float: left;
  }
}

/* #Page Styles
================================================== */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* line 742, ../sass/_layout.scss */
  .leftcol {
    background-color: #ff0000;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) {
  /* line 742, ../sass/_layout.scss */
  .leftcol {
    background-color: #1234ff;
  }
}
@media only screen and (max-width: 479px) {
  /* line 742, ../sass/_layout.scss */
  .leftcol {
    background-color: #003366;
  }
}

/* line 752, ../sass/_layout.scss */
.contact-us {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 757, ../sass/_layout.scss */
.contact-us a:hover {
  color: white;
}

/* line 764, ../sass/_layout.scss */
.container.page_content.f_bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px 10px;
}
/* line 768, ../sass/_layout.scss */
.container.page_content.f_bg a {
  color: #0c2649;
}
/* line 773, ../sass/_layout.scss */
.container.page_content.f_bg h2 a {
  color: #0c2649;
}

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
