 
/* Table of Content
==================================================
 

/* Header Styles
================================================== */
 

#header-new {
	transition: background-image 1s linear;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;   
    position: relative;
    top: 0;
	width: 100%;


	@include breakpoint(landscape) { 
   		height: auto;
    }
    @include breakpoint(portrait) { 
    	height: auto;
    }

}

.home-header{
	 height: 70vh;
}
 #header-new.interior-header {
 
    height: 20vh;
    min-height: 145px;
    background-color: $navy;
 
}


.logo-new{
	padding-top: 30px;

	&:hover{@include opacity(0.8); }

	@include breakpoint(smallscreen) {
 		padding-top: 36px;
		img {max-width:175px; }
	}
	
	@include breakpoint(landscape) {
		padding-bottom:4px;
 		border-bottom: 1px solid $bluegray;
		img { padding-left:100px; }
		&:after{content:""; 
			width:100%; 
			margin-top:4px; 
			display:block;
			border-bottom: 1px solid $bluegray; 
		}
	}
	@include breakpoint(portrait) {
		padding-bottom:4px;
 		border-bottom: 1px solid $bluegray;
		img { padding-left:42px;  }
		&:after{content:""; 
			width:100%; 
			margin-top:4px; 
			display:block;
			border-bottom: 1px solid $bluegray; 
		}
	}
}

.navigation-new{  
	margin-top: 94px; 
	padding-bottom: 3px; 
 

	//border-bottom: 1px solid $orange;

	@include breakpoint(landscape) { 
   		margin-top: 10px; 
		padding-bottom: 0px; 
		margin-bottom:20px; 
		border-bottom: transparent;
    }

	@include breakpoint(portrait) { 
		margin-top: 10px; 
		padding-bottom: 0px; 
		margin-bottom:20px; 
		border-bottom: transparent;
	}
}
 

ul#nav-new{
	height:20px;
	margin-bottom: 8px;
	width: 80%; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-between;
	 
 
 
    @include breakpoint(smallscreen) {

	}

	@include breakpoint(landscape) {
		height: auto; text-align: left;
		margin-bottom: 0px; 
	}
	@include breakpoint(portrait) {
		height: auto; text-align: left;
		margin-bottom: 0px; 
	}


	li{
		text-transform: uppercase; 
		font-family: $oswald;
		font-size: 20px;
		letter-spacing: 1px;
		margin-bottom: 3px;
		 
        
 
		a{text-decoration: none; color: $white;}
		a:hover{text-decoration: none; color: $orange; } 
		 

		@include breakpoint(smallscreen) {
    	 	font-size: 11px;	
		}

		@include breakpoint(landscape) {
			display: block; padding-top:5px;       
		}
		@include breakpoint(portrait) {
			display: block; padding-top:5px;       
		}


	}
	&:after{
	content:""; 
	width:100%; 
	margin-top:3px; 
	display:block;
	border: 1px solid $orange;
	}
}

@include breakpoint(landscape) 
{
	.menu-main-navigation-container{ }
 	.navigation {  }	 
}

.top-bar{
	text-align:right;
	position:absolute;
	right:10px;
	z-index:500;
}
		
.top-links{
	//background:#98a6b9; 
	margin-bottom:7px; 
	padding:.7em .7em .5em 0;
	

	a:hover, 
	a:active, 
	a:focus{
		opacity:.8;
	}
}

@media only screen and (max-width:768px){
	.top-bar{
		position:relative;
	    background-color: #0c2649;
	    right:0px;

	    .top-links{
	    margin-bottom:0;
		}
	}

}



 

/* Hompage NEW Styles     ************************************************
================================================== */
.border_box{ border: 1px solid $orange;   }
.border_inner{margin: 4px;	border: 1px solid $orange;}

.home_callout{
	 
	margin:4px;
	border: 1px solid $orange;
	text-align: center; 
	padding: 16px 0px 16px 0px; 

	@include breakpoint(smallscreen) { 
		 height:82px;
	}

	h2{
		font-size:28px; 
		line-height:36px;
		text-transform: uppercase;
		font-weight: normal;
		a{
			color: $darkgray;
			text-decoration: none;
		}
		a:hover{
			color: $orange;
			text-decoration: none;
		}
    }
} 

.home-callout{
	padding-top: 10vh;	
	text-align: center;

	h2{
		font-family: $minion;
		
		font-size: 42px;
		line-height: 50px; 
		color: white;
	}

}
 
.home-form{

 
	width: 100%;
    margin: 0 auto;
    padding-top: 85px;
    position: relative;
    padding-left: 9%;
 
	//display: flex; 
	margin: 0 auto;
 
	label{display: none;}

	.field-group{
		display: inline;
		float: left;
		margin: 0 10px 0 10px;

	}
	input[type=text]{
		font-family: $minion;
	    padding-left: 15px;
	    line-height: 35px;
	    height: 35px;
	    font-size: 14px;
	    border-radius: 2px;
	    border: none;
	}

	select {
		font-family: $minion;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		outline: 0;
		box-shadow: none;
		border: 0 !important;
		background: #fff;
		background-image: none;
		height: 35px;
		font-size: 14px;
		color: #777;
		  cursor: pointer;
	}
	/* Custom Select */
	.select {
	  position: relative;
	  
	  width: 20em;
	  line-height: 35px;
	  height: 47px;
	  
	  background: #fff;
	  overflow: hidden;
	  border-radius: 2px;
	}
	select {
	  //width: 100%;
	  height: 100%;
	  //margin: 0;
	   padding: 0 0 0 .5em;
 
	
	}
	select::-ms-expand {
	  display: none;
	}
 



	button.submit{
	    height: 48px;
	    background-color: $orange;
	    color: white;
	    line-height: 35px;
	    text-align: center;
	    font-family: "minion-pro", sans-serif;
	    font-size: 20px;
	    border: 1px solid $orange;
	    border-radius: 2px;
	    padding: 0 20px 0 20px;
	    font-weight: bold;
	    &:hover{
	    	color: $orange;
	    	cursor: pointer;
	    	border: 1px solid $orange;
	    	background-color: white;
	    }

	}

}

.home_line{  
	margin-top: 30px; 
	padding-bottom: 4px; 
	border-bottom: 1px solid $bluegray;

	&:after{
		content:""; 
		width:100%; 
		margin-top:4px; 
		display:block;
		border-bottom: 1px solid $bluegray  
	}
}

 

a.more{float:right; font-weight:bold; font-style: italic;}

 

.border-box-new{
	border: 2px solid $orange;
	padding: 10px;
}

.service-callout{
	text-align: center;
	padding-top: 30px;
	h3{
		font-size: 21px; 
		line-height: 28px;
		font-weight: normal;
		padding-bottom: 20px;
	}

}

a.button{
	height: 48px;

	border: 1px solid $orange;
	background-color: white;
    color: $orange;   

    line-height: 35px;
    text-align: center;
    font-family: "minion-pro", sans-serif;
    font-size: 21px;

 	border-radius: 4px;
    padding: 5px 20px 5px 20px;
    font-weight: bold;

    &:hover{
		cursor: pointer;
    	border: 1px solid $orange;
    	background-color: $orange;
    	color: white;
    }
}
.home-column-new{
	padding: 30px 0 20px 0;

	h2{
		font-family: $oswald;
		text-transform: uppercase;
		font-size: 24px; 
		letter-spacing: 1px; 

		a:hover{
			color: $orange;
		}
	}
	h3{
		font-size: 19px;
		padding: 5px 0 10px 0px;
	}
	p, a.more{
		font-size: 16px;
		line-height: 21px; 
	}
	&.twitter{
		box-sizing: border-box;
		padding-left: 10px;
		h1{
			display: none;
		}		
	}




}

.contact-block{
	height: 250px;
	box-sizing: border-box;
	padding: 60px 30px;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    h3{
    	font-family: $oswald;
		text-transform: uppercase;
		font-size: 24px; 
		letter-spacing: 1px; 
		color: white;
		padding-bottom: 20px;
    }
    p{
    	font-size: 16px;
    	color: white;
    }
}

.pittsburgh{
	background-image: url("../images/Pittsburgh.jpg");
}
.wheeling{
	background-image: url("../images/Wheeling.jpg");
}

.center{
	text-align:center;
}






/* SUBHEADER Styles
================================================== */
 .page_title {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: $navy;
	background: #fff;
	background: rgba(255,255,255, .70);
	left: 7px;
	right: 0;
	bottom: 17%;
	@include margin-offset(7); 
	@include columns(5);

	 h1{padding: 20px 12px 20px 15px; margin:5px; background: rgba(255,255,255, .70);  font-family: $minion; font-weight:bold;  text-transform: uppercase; text-align: center;}	

	@include breakpoint(smallscreen) { 
		@include margin-offset(7, $sk-tablet-col);
		@include columns(5, $sk-tablet-col);
	}
   
    @include breakpoint(landscape) { 
    	width: 410px;
    	@include margin-offset(0); 
		@include columns(0);  
    	right: 0; 	 
		bottom: 4%; 
    	h1{padding: 10px 5px 5px 10px; margin:5px; background: rgba(255,255,255, .70); font-size:20px; line-height:20px; font-family: $minion; font-weight:bold; font-style: italic;}	
    }

	@include breakpoint(portrait) { 
		width: 300px;
    	@include margin-offset(0); 
		@include columns(0);  
    	left: 0; 	 
		bottom: 2%; 
    	h1{padding: 8px 5px 8px 5px; margin:5px; background: rgba(255,255,255, .70); font-size:18px; line-height:20px; font-family: $minion; font-weight:bold; font-style: italic;}	
	}

}

/* PAGE Styles
================================================== */
.page_content{
	margin-top: 20px;
	min-height:400px;
	 
	a{
		&:hover, &:focus, &:active{color:$orange}
		}

	h2{
		text-transform: uppercase; 
		color: $navy;
		font-weight: normal; 
		border-bottom: 1px solid $orange;
		padding-bottom: 4px;
		&:after{
			content:""; 
			width:100%; 
			margin-top: 0px; 
			display:block;
			border-bottom: 1px solid $orange ;
			 
		}

	}
}
.page_nav { 
	padding: 15px 15px 40px 15px;
	li{padding-bottom: 6px;}
	li a{color: $darkgray; text-transform: uppercase; font-weight: bold;}
	li a:hover{color: $orange;}
	@include breakpoint(landscape) {
		padding: 15px 15px 15px 15px;       
	}
	@include breakpoint(portrait) {
		padding: 15px 15px 15px 15px;       
	}
}

.page_side{margin-top: 20px;}


.testimonials{
	
	p{
		color: $navy;
		font-family: $minion; 
		font-weight:bold;
		font-style: italic;
		padding: 25px 15px 25px 15px;
	}

	@include breakpoint(landscape) { 
    	 	
    }

	@include breakpoint(portrait) { 
		 display: none;	
	}
}

.landing_blocks{
	@include column-offset-no-gutter(1);
	.columns {margin-bottom:20px;}

	@include breakpoint(smallscreen) { 
		 padding-left: 20px;
	}
   
    @include breakpoint(landscape) { 
     	padding-left: 0px;
    }

	@include breakpoint(portrait) { 
	 	padding-left: 0px;
	}
}

.content{

	ul, ol { margin-bottom: 10px; }
	ul { list-style: outside; }
	ol { list-style: decimal; }
	ol, ul { margin-left: 30px; }
 
	ul ul, ul ol,
	ol ol, ol ul { margin: 0px 0 0px 0px; font-size: 100%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 0px; }
	li { line-height: 18px; margin-bottom: 0px; }

	@include breakpoint(landscape) { 
     	padding-top: 20px;
    }

	@include breakpoint(portrait) { 
	 	padding-top: 20px;
	}
}



/* FOOTER Styles
================================================== */
#footer{
	width: 100%; 
	background-color: $gray;
	margin-top: 80px;
}
.footer{
	padding-top:20px;
	
	.menu {

		ul{
			-moz-column-count: 3;
		    -moz-column-gap: 20px;
		    -webkit-column-count: 3;
		    -webkit-column-gap: 20px;
		    column-count: 3;
		    column-gap: 20px;
		    width: 450px;

		    @include breakpoint(portrait) {
		 		display:none;
			}
			@include breakpoint(landscape) {
		 		display:none;
			}
		}
		li{
			list-style-type: none; 
			font-weight:bold;
			 margin-bottom:18px;  

			ul li {font-weight: normal;margin-bottom:4px; }
	    }
		li a{
			color: #fff;
			&:hover{color: $navy}
		}
	}

	ul.footer-locations li {
    display: inline-block;
    float: left;
    padding-right: 20px;
    width: auto;
	}

	h3{text-transform: uppercase; font-weight:bold; font-size:18px; margin-bottom:18px; }
	span.contact{color: $navy}
	p a{color:$navy;}
	p a:hover{color:$white}
	a img:hover{@include opacity(0.7); }

	.footer_icon{
		//padding-top:140px;
		//position: absolute;
	    right: 0;
	    bottom: 50px;
	    text-align:right;
	    padding-bottom:10px;

	    p{
	    	margin-top:10px;
	    }

		@include breakpoint(smallscreen) {
 		//padding-top: 180px;
		img {max-width:50px; }
		}

		@include breakpoint(landscape) { 
     		padding-top: 10px;
     		text-align:left;
     		//img {display:none; }
	    }

		@include breakpoint(portrait) { 
		 	padding-top: 10px;
		 	text-align:left;
		 	//img {display:none; }
		}

	}
}

.copyright{
	border-top:1px solid $bluegray; 
	padding-top:10px;
	

}
.mesh{
	float:right; margin-top:-38px;
 

		@include breakpoint(landscape) { 
     		margin-top:0px; float:left;
	    }

		@include breakpoint(portrait) { 
		 	margin-top:0px; float:left;
		}

}

/* #Page Styles
================================================== */


 

.leftcol{
 
 
	@include breakpoint(smallscreen) {background-color: #ff0000;}
    @include breakpoint(landscape) {background-color: #1234ff;}
	@include breakpoint(portrait) {background-color: #003366;}
 
}

 
.contact-us{
	position: absolute; 
	top: 10px; 
	right: 10px;

	a:hover{color: white;}
} 


//Page content for Full Background template:

.container{
	&.page_content.f_bg{
		background-color:rgba(255,255,255,.8);
		padding:25px 10px;

		a{
			color: $navy;
		}

		h2{
			a{
				color: $navy;
			}
		}
	}
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


 