/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */
/* COMPASS IMPORTS 
================================================= */
/* COLORS 
================================================= */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 34, ../sass/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 41, ../sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 43, ../sass/_base.scss */
body {
  line-height: 1; }

/* line 45, ../sass/_base.scss */
ol, ul {
  list-style: none; }

/* line 47, ../sass/_base.scss */
blockquote, q {
  quotes: none; }

/* line 50, ../sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 53, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Basic Styles
================================================== */
/* line 60, ../sass/_base.scss */
body {
  background: #fff;
  font: 13px/18px "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
/* line 71, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal; }

/* line 75, ../sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

/* line 76, ../sass/_base.scss */
h1 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
  font-weight: bold; }
  /* line 78, ../sass/_base.scss */
  h1 a {
    color: #444444;
    text-decoration: none; }
  /* line 79, ../sass/_base.scss */
  h1 a:hover {
    color: silver;
    text-decoration: none; }

/* line 82, ../sass/_base.scss */
h2 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #99a7b9; }
  /* line 84, ../sass/_base.scss */
  h2 a {
    color: #99a7b9;
    text-decoration: none; }
  /* line 85, ../sass/_base.scss */
  h2 a:hover {
    color: #0c2649;
    text-decoration: none; }

/* line 89, ../sass/_base.scss */
h3 {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold; }

/* line 90, ../sass/_base.scss */
h4 {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold; }

/* line 93, ../sass/_base.scss */
p {
  margin: 0 0 18px 0; }

/* line 94, ../sass/_base.scss */
p img {
  margin: 0; }

/* line 97, ../sass/_base.scss */
em {
  font-style: italic; }

/* line 98, ../sass/_base.scss */
strong {
  font-weight: bold; }

/*	Blockquotes  */
/* line 102, ../sass/_base.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  font-style: italic; }

/* line 103, ../sass/_base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #dddddd; }

/* line 104, ../sass/_base.scss */
blockquote cite {
  display: block;
  font-size: 12px; }

/* line 105, ../sass/_base.scss */
blockquote cite:before {
  content: "\2014 \0020"; }

/* line 106, ../sass/_base.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555; }

/* line 108, ../sass/_base.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* #Links
================================================== */
/* line 113, ../sass/_base.scss */
a, a:visited {
  color: #99a7b9;
  text-decoration: none;
  outline: 0; }

/* line 114, ../sass/_base.scss */
a:hover, a:focus {
  color: #0c2649; }

/* line 115, ../sass/_base.scss */
p a, p a:visited {
  line-height: inherit; }

/* #Lists
================================================== */
/* line 120, ../sass/_base.scss */
ul, ol {
  margin-bottom: 0px; }

/* line 121, ../sass/_base.scss */
ul {
  list-style: none outside; }

/* line 122, ../sass/_base.scss */
ol {
  list-style: decimal; }

/* line 123, ../sass/_base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px; }

/* line 124, ../sass/_base.scss */
ul.square {
  list-style: square outside; }

/* line 125, ../sass/_base.scss */
ul.circle {
  list-style: circle outside; }

/* line 126, ../sass/_base.scss */
ul.disc {
  list-style: disc outside; }

/* line 128, ../sass/_base.scss */
ul ul, ul ol,
ol ol, ol ul {
  margin: 0px 0 0px 0px;
  font-size: 100%; }

/* line 130, ../sass/_base.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 0px; }

/* line 131, ../sass/_base.scss */
li {
  line-height: 18px;
  margin-bottom: 0px; }

/* #Buttons
================================================== */
/* line 145, ../sass/_base.scss */
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eee;
  /* Old browsers */
  background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: #eeeeee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: #eeeeee -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaaaaa;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 175, ../sass/_base.scss */
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: #dddddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: #dddddd -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888888;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa; }

/* line 192, ../sass/_base.scss */
a.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666666;
  background: #ccc;
  /* Old browsers */
  background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* FF3.6+ */
  background: #cccccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome,Safari4+ */
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Opera11.10+ */
  background: #cccccc -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* IE10+ */
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */ }

/* line 206, ../sass/_base.scss */
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* #Forms
================================================== */
/* line 219, ../sass/_base.scss */
form {
  margin-bottom: 20px; }

/* line 221, ../sass/_base.scss */
fieldset {
  margin-bottom: 20px; }

/* line 227, ../sass/_base.scss */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #cccccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }

/* line 242, ../sass/_base.scss */
select {
  padding: 0; }

/* line 247, ../sass/_base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaaaaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

/* line 253, ../sass/_base.scss */
textarea {
  min-height: 60px; }

/* line 256, ../sass/_base.scss */
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px; }

/* line 260, ../sass/_base.scss */
select {
  width: 220px; }

/* line 262, ../sass/_base.scss */
input[type="checkbox"] {
  display: inline; }

/* line 265, ../sass/_base.scss */
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

/* #Images
================================================== */
/* line 273, ../sass/_base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* =============================================================================
   WordPress Image CSS Styles
   ========================================================================== */
/* line 281, ../sass/_base.scss */
.alignnone {
  margin: 5px 20px 20px 0; }

/* line 282, ../sass/_base.scss */
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

/* line 283, ../sass/_base.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

/* line 284, ../sass/_base.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

/* line 285, ../sass/_base.scss */
.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

/* line 286, ../sass/_base.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

/* line 287, ../sass/_base.scss */
a img.alignnone {
  margin: 5px 20px 20px 0; }

/* line 288, ../sass/_base.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

/* line 289, ../sass/_base.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 290, ../sass/_base.scss */
.wp-caption {
  background: #FFF;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

/* line 291, ../sass/_base.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

/* line 292, ../sass/_base.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

/* line 293, ../sass/_base.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

/* line 294, ../sass/_base.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

/* line 295, ../sass/_base.scss */
.wp-caption p.wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* line 298, ../sass/_base.scss */
.add-bottom {
  margin-bottom: 20px !important; }

/* Table of Contents
==================================================
    #Import Base Style
    #Variables & Mixins
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing
    #Import Custom Layout */
/* #Variables & Mixins
================================================== */
/* #Breakpoint Mixins
================================================== */
/* #Base 960 Grid
================================================== */
/* line 76, ../sass/_grid.scss */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 960px;
  /* Offsets */ }
  /* line 79, ../sass/_grid.scss */
  .container .row {
    margin-bottom: 20px; }
  /* line 80, ../sass/_grid.scss */
  .container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 7.5px;
    margin-right: 7.5px;
    /* Base Grid */ }
    /* line 86, ../sass/_grid.scss */
    .container .column.alpha, .container .columns.alpha {
      margin-left: 0; }
    /* line 87, ../sass/_grid.scss */
    .container .column.omega, .container .columns.omega {
      margin-right: 0; }
    /* line 90, ../sass/_grid.scss */
    .container .column.one, .container .columns.one {
      width: 65px; }
    /* line 91, ../sass/_grid.scss */
    .container .column.two, .container .columns.two {
      width: 145px; }
    /* line 92, ../sass/_grid.scss */
    .container .column.three, .container .columns.three {
      width: 225px; }
    /* line 93, ../sass/_grid.scss */
    .container .column.four, .container .columns.four {
      width: 305px; }
    /* line 94, ../sass/_grid.scss */
    .container .column.five, .container .columns.five {
      width: 385px; }
    /* line 95, ../sass/_grid.scss */
    .container .column.six, .container .columns.six {
      width: 465px; }
    /* line 96, ../sass/_grid.scss */
    .container .column.seven, .container .columns.seven {
      width: 545px; }
    /* line 97, ../sass/_grid.scss */
    .container .column.eight, .container .columns.eight {
      width: 625px; }
    /* line 98, ../sass/_grid.scss */
    .container .column.nine, .container .columns.nine {
      width: 705px; }
    /* line 99, ../sass/_grid.scss */
    .container .column.ten, .container .columns.ten {
      width: 785px; }
    /* line 100, ../sass/_grid.scss */
    .container .column.eleven, .container .columns.eleven {
      width: 865px; }
    /* line 101, ../sass/_grid.scss */
    .container .column.twelve, .container .columns.twelve {
      width: 945px; }
    /* line 102, ../sass/_grid.scss */
    .container .column.thirteen, .container .columns.thirteen {
      width: 1025px; }
    /* line 103, ../sass/_grid.scss */
    .container .column.fourteen, .container .columns.fourteen {
      width: 1105px; }
    /* line 104, ../sass/_grid.scss */
    .container .column.fifteen, .container .columns.fifteen {
      width: 1185px; }
    /* line 105, ../sass/_grid.scss */
    .container .column.sixteen, .container .columns.sixteen {
      width: 1265px; }
    /* line 107, ../sass/_grid.scss */
    .container .column.one-third, .container .columns.one-third {
      width: 305px; }
    /* line 108, ../sass/_grid.scss */
    .container .column.two-thirds, .container .columns.two-thirds {
      width: 625px; }
  /* line 112, ../sass/_grid.scss */
  .container .column img, .container .columns img {
    max-width: 100%; }
  /* line 115, ../sass/_grid.scss */
  .container .offset-by-one {
    padding-left: 80px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 115, ../sass/_grid.scss */
      .container .offset-by-one {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 115, ../sass/_grid.scss */
      .container .offset-by-one {
        padding-left: 0px; } }
  /* line 116, ../sass/_grid.scss */
  .container .offset-by-two {
    padding-left: 160px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 116, ../sass/_grid.scss */
      .container .offset-by-two {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 116, ../sass/_grid.scss */
      .container .offset-by-two {
        padding-left: 0px; } }
  /* line 117, ../sass/_grid.scss */
  .container .offset-by-three {
    padding-left: 240px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 117, ../sass/_grid.scss */
      .container .offset-by-three {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 117, ../sass/_grid.scss */
      .container .offset-by-three {
        padding-left: 0px; } }
  /* line 118, ../sass/_grid.scss */
  .container .offset-by-four {
    padding-left: 320px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 118, ../sass/_grid.scss */
      .container .offset-by-four {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 118, ../sass/_grid.scss */
      .container .offset-by-four {
        padding-left: 0px; } }
  /* line 119, ../sass/_grid.scss */
  .container .offset-by-five {
    padding-left: 400px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 119, ../sass/_grid.scss */
      .container .offset-by-five {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 119, ../sass/_grid.scss */
      .container .offset-by-five {
        padding-left: 0px; } }
  /* line 120, ../sass/_grid.scss */
  .container .offset-by-six {
    padding-left: 480px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 120, ../sass/_grid.scss */
      .container .offset-by-six {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 120, ../sass/_grid.scss */
      .container .offset-by-six {
        padding-left: 0px; } }
  /* line 121, ../sass/_grid.scss */
  .container .offset-by-seven {
    padding-left: 560px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 121, ../sass/_grid.scss */
      .container .offset-by-seven {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 121, ../sass/_grid.scss */
      .container .offset-by-seven {
        padding-left: 0px; } }
  /* line 122, ../sass/_grid.scss */
  .container .offset-by-eight {
    padding-left: 640px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 122, ../sass/_grid.scss */
      .container .offset-by-eight {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 122, ../sass/_grid.scss */
      .container .offset-by-eight {
        padding-left: 0px; } }
  /* line 123, ../sass/_grid.scss */
  .container .offset-by-nine {
    padding-left: 720px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 123, ../sass/_grid.scss */
      .container .offset-by-nine {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 123, ../sass/_grid.scss */
      .container .offset-by-nine {
        padding-left: 0px; } }
  /* line 124, ../sass/_grid.scss */
  .container .offset-by-ten {
    padding-left: 800px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 124, ../sass/_grid.scss */
      .container .offset-by-ten {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 124, ../sass/_grid.scss */
      .container .offset-by-ten {
        padding-left: 0px; } }
  /* line 125, ../sass/_grid.scss */
  .container .offset-by-eleven {
    padding-left: 880px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 125, ../sass/_grid.scss */
      .container .offset-by-eleven {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 125, ../sass/_grid.scss */
      .container .offset-by-eleven {
        padding-left: 0px; } }
  /* line 126, ../sass/_grid.scss */
  .container .offset-by-twelve {
    padding-left: 960px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 126, ../sass/_grid.scss */
      .container .offset-by-twelve {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 126, ../sass/_grid.scss */
      .container .offset-by-twelve {
        padding-left: 0px; } }
  /* line 127, ../sass/_grid.scss */
  .container .offset-by-thirteen {
    padding-left: 1040px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 127, ../sass/_grid.scss */
      .container .offset-by-thirteen {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 127, ../sass/_grid.scss */
      .container .offset-by-thirteen {
        padding-left: 0px; } }
  /* line 128, ../sass/_grid.scss */
  .container .offset-by-fourteen {
    padding-left: 1120px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 128, ../sass/_grid.scss */
      .container .offset-by-fourteen {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 128, ../sass/_grid.scss */
      .container .offset-by-fourteen {
        padding-left: 0px; } }
  /* line 129, ../sass/_grid.scss */
  .container .offset-by-fifteen {
    padding-left: 1200px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 129, ../sass/_grid.scss */
      .container .offset-by-fifteen {
        padding-left: 0px; } }
    @media only screen and (max-width: 479px) {
      /* line 129, ../sass/_grid.scss */
      .container .offset-by-fifteen {
        padding-left: 0px; } }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 139, ../sass/_grid.scss */
  .container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 780px;
    /* Offsets */ }
    /* line 142, ../sass/_grid.scss */
    .container .row {
      margin-bottom: 20px; }
    /* line 143, ../sass/_grid.scss */
    .container .column, .container .columns {
      /* Base Grid */ }
      /* line 146, ../sass/_grid.scss */
      .container .column.one, .container .columns.one {
        width: 50px; }
      /* line 147, ../sass/_grid.scss */
      .container .column.two, .container .columns.two {
        width: 115px; }
      /* line 148, ../sass/_grid.scss */
      .container .column.three, .container .columns.three {
        width: 180px; }
      /* line 149, ../sass/_grid.scss */
      .container .column.four, .container .columns.four {
        width: 245px; }
      /* line 150, ../sass/_grid.scss */
      .container .column.five, .container .columns.five {
        width: 310px; }
      /* line 151, ../sass/_grid.scss */
      .container .column.six, .container .columns.six {
        width: 375px; }
      /* line 152, ../sass/_grid.scss */
      .container .column.seven, .container .columns.seven {
        width: 440px; }
      /* line 153, ../sass/_grid.scss */
      .container .column.eight, .container .columns.eight {
        width: 505px; }
      /* line 154, ../sass/_grid.scss */
      .container .column.nine, .container .columns.nine {
        width: 570px; }
      /* line 155, ../sass/_grid.scss */
      .container .column.ten, .container .columns.ten {
        width: 635px; }
      /* line 156, ../sass/_grid.scss */
      .container .column.eleven, .container .columns.eleven {
        width: 700px; }
      /* line 157, ../sass/_grid.scss */
      .container .column.twelve, .container .columns.twelve {
        width: 765px; }
      /* line 158, ../sass/_grid.scss */
      .container .column.thirteen, .container .columns.thirteen {
        width: 830px; }
      /* line 159, ../sass/_grid.scss */
      .container .column.fourteen, .container .columns.fourteen {
        width: 895px; }
      /* line 160, ../sass/_grid.scss */
      .container .column.fifteen, .container .columns.fifteen {
        width: 960px; }
      /* line 161, ../sass/_grid.scss */
      .container .column.sixteen, .container .columns.sixteen {
        width: 1025px; }
      /* line 163, ../sass/_grid.scss */
      .container .column.one-third, .container .columns.one-third {
        width: 245px; }
      /* line 164, ../sass/_grid.scss */
      .container .column.two-thirds, .container .columns.two-thirds {
        width: 505px; }
    /* line 169, ../sass/_grid.scss */
    .container .offset-by-one {
      padding-left: 65px; }
    /* line 170, ../sass/_grid.scss */
    .container .offset-by-two {
      padding-left: 130px; }
    /* line 171, ../sass/_grid.scss */
    .container .offset-by-three {
      padding-left: 195px; }
    /* line 172, ../sass/_grid.scss */
    .container .offset-by-four {
      padding-left: 260px; }
    /* line 173, ../sass/_grid.scss */
    .container .offset-by-five {
      padding-left: 325px; }
    /* line 174, ../sass/_grid.scss */
    .container .offset-by-six {
      padding-left: 390px; }
    /* line 175, ../sass/_grid.scss */
    .container .offset-by-seven {
      padding-left: 455px; }
    /* line 176, ../sass/_grid.scss */
    .container .offset-by-eight {
      padding-left: 520px; }
    /* line 177, ../sass/_grid.scss */
    .container .offset-by-nine {
      padding-left: 585px; }
    /* line 178, ../sass/_grid.scss */
    .container .offset-by-ten {
      padding-left: 650px; }
    /* line 179, ../sass/_grid.scss */
    .container .offset-by-eleven {
      padding-left: 715px; }
    /* line 180, ../sass/_grid.scss */
    .container .offset-by-twelve {
      padding-left: 780px; }
    /* line 181, ../sass/_grid.scss */
    .container .offset-by-thirteen {
      padding-left: 845px; }
    /* line 182, ../sass/_grid.scss */
    .container .offset-by-fourteen {
      padding-left: 910px; }
    /* line 183, ../sass/_grid.scss */
    .container .offset-by-fifteen {
      padding-left: 975px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 169, ../sass/_grid.scss */
      .container .offset-by-one {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 169, ../sass/_grid.scss */
      .container .offset-by-one {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 170, ../sass/_grid.scss */
      .container .offset-by-two {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 170, ../sass/_grid.scss */
      .container .offset-by-two {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 171, ../sass/_grid.scss */
      .container .offset-by-three {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 171, ../sass/_grid.scss */
      .container .offset-by-three {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 172, ../sass/_grid.scss */
      .container .offset-by-four {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 172, ../sass/_grid.scss */
      .container .offset-by-four {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 173, ../sass/_grid.scss */
      .container .offset-by-five {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 173, ../sass/_grid.scss */
      .container .offset-by-five {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 174, ../sass/_grid.scss */
      .container .offset-by-six {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 174, ../sass/_grid.scss */
      .container .offset-by-six {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 175, ../sass/_grid.scss */
      .container .offset-by-seven {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 175, ../sass/_grid.scss */
      .container .offset-by-seven {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 176, ../sass/_grid.scss */
      .container .offset-by-eight {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 176, ../sass/_grid.scss */
      .container .offset-by-eight {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 177, ../sass/_grid.scss */
      .container .offset-by-nine {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 177, ../sass/_grid.scss */
      .container .offset-by-nine {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 178, ../sass/_grid.scss */
      .container .offset-by-ten {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 178, ../sass/_grid.scss */
      .container .offset-by-ten {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 179, ../sass/_grid.scss */
      .container .offset-by-eleven {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 179, ../sass/_grid.scss */
      .container .offset-by-eleven {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 180, ../sass/_grid.scss */
      .container .offset-by-twelve {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 180, ../sass/_grid.scss */
      .container .offset-by-twelve {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 181, ../sass/_grid.scss */
      .container .offset-by-thirteen {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 181, ../sass/_grid.scss */
      .container .offset-by-thirteen {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 182, ../sass/_grid.scss */
      .container .offset-by-fourteen {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 182, ../sass/_grid.scss */
      .container .offset-by-fourteen {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (min-width: 480px) and (max-width: 767px) {
      /* line 183, ../sass/_grid.scss */
      .container .offset-by-fifteen {
        padding-left: 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) and (max-width: 479px) {
      /* line 183, ../sass/_grid.scss */
      .container .offset-by-fifteen {
        padding-left: 0px; } }

/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 194, ../sass/_grid.scss */
  .container {
    width: 300px; }
    /* line 196, ../sass/_grid.scss */
    .container .columns, .container .column {
      margin-left: 0px;
      margin-right: 0px;
      /* Offsets */ }
      /* line 215, ../sass/_grid.scss */
      .container .columns.one, .container .columns.two, .container .columns.three, .container .columns.four, .container .columns.five, .container .columns.six, .container .columns.seven, .container .columns.eight, .container .columns.nine, .container .columns.ten, .container .columns.eleven, .container .columns.twelve, .container .columns.thirteen, .container .columns.fourteen, .container .columns.fifteen, .container .columns.sixteen, .container .columns.one-third, .container .columns.two-thirds, .container .column.one, .container .column.two, .container .column.three, .container .column.four, .container .column.five, .container .column.six, .container .column.seven, .container .column.eight, .container .column.nine, .container .column.ten, .container .column.eleven, .container .column.twelve, .container .column.thirteen, .container .column.fourteen, .container .column.fifteen, .container .column.sixteen, .container .column.one-third, .container .column.two-thirds {
        width: 300px; }
      /* line 232, ../sass/_grid.scss */
      .container .columns .offset-by-one,
      .container .columns .offset-by-two,
      .container .columns .offset-by-three,
      .container .columns .offset-by-four,
      .container .columns .offset-by-five,
      .container .columns .offset-by-six,
      .container .columns .offset-by-seven,
      .container .columns .offset-by-eight,
      .container .columns .offset-by-nine,
      .container .columns .offset-by-ten,
      .container .columns .offset-by-eleven,
      .container .columns .offset-by-twelve,
      .container .columns .offset-by-thirteen,
      .container .columns .offset-by-fourteen,
      .container .columns .offset-by-fifteen, .container .column .offset-by-one,
      .container .column .offset-by-two,
      .container .column .offset-by-three,
      .container .column .offset-by-four,
      .container .column .offset-by-five,
      .container .column .offset-by-six,
      .container .column .offset-by-seven,
      .container .column .offset-by-eight,
      .container .column .offset-by-nine,
      .container .column .offset-by-ten,
      .container .column .offset-by-eleven,
      .container .column .offset-by-twelve,
      .container .column .offset-by-thirteen,
      .container .column .offset-by-fourteen,
      .container .column .offset-by-fifteen {
        padding-left: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 245, ../sass/_grid.scss */
  .container {
    width: 420px; }
    /* line 247, ../sass/_grid.scss */
    .container .columns, .container .column {
      margin-left: 0px;
      margin-right: 0px; }
      /* line 266, ../sass/_grid.scss */
      .container .columns.one, .container .columns.two, .container .columns.three, .container .columns.four, .container .columns.five, .container .columns.six, .container .columns.seven, .container .columns.eight, .container .columns.nine, .container .columns.ten, .container .columns.eleven, .container .columns.twelve, .container .columns.thirteen, .container .columns.fourteen, .container .columns.fifteen, .container .columns.sixteen, .container .columns.one-third, .container .columns.two-thirds, .container .column.one, .container .column.two, .container .column.three, .container .column.four, .container .column.five, .container .column.six, .container .column.seven, .container .column.eight, .container .column.nine, .container .column.ten, .container .column.eleven, .container .column.twelve, .container .column.thirteen, .container .column.fourteen, .container .column.fifteen, .container .column.sixteen, .container .column.one-third, .container .column.two-thirds {
        width: 420px; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 277, ../sass/_grid.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 284, ../sass/_grid.scss */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 292, ../sass/_grid.scss */
.row:after,
.clearfix:after {
  clear: both; }

/* line 295, ../sass/_grid.scss */
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
/* line 299, ../sass/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* Table of Content
==================================================
 

/* Header Styles
================================================== */
/* line 8, ../sass/_layout.scss */
#header {
  background-color: #0c2649;
  height: 140px;
  width: 100%; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 8, ../sass/_layout.scss */
    #header {
      height: auto; } }
  @media only screen and (max-width: 479px) {
    /* line 8, ../sass/_layout.scss */
    #header {
      height: auto; } }

/* line 21, ../sass/_layout.scss */
.logo {
  padding-top: 20px; }
  /* line 24, ../sass/_layout.scss */
  .logo:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    /* line 21, ../sass/_layout.scss */
    .logo {
      padding-top: 36px; }
      /* line 28, ../sass/_layout.scss */
      .logo img {
        max-width: 175px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 21, ../sass/_layout.scss */
    .logo {
      padding-bottom: 4px;
      border-bottom: 1px solid #99a7b9; }
      /* line 34, ../sass/_layout.scss */
      .logo img {
        padding-left: 100px; }
      /* line 35, ../sass/_layout.scss */
      .logo:after {
        content: "";
        width: 100%;
        margin-top: 4px;
        display: block;
        border-bottom: 1px solid #99a7b9; } }
  @media only screen and (max-width: 479px) {
    /* line 21, ../sass/_layout.scss */
    .logo {
      padding-bottom: 4px;
      border-bottom: 1px solid #99a7b9; }
      /* line 45, ../sass/_layout.scss */
      .logo img {
        padding-left: 42px; }
      /* line 46, ../sass/_layout.scss */
      .logo:after {
        content: "";
        width: 100%;
        margin-top: 4px;
        display: block;
        border-bottom: 1px solid #99a7b9; } }

/* line 55, ../sass/_layout.scss */
.navigation {
  margin-top: 82px;
  padding-bottom: 4px;
  border-bottom: 1px solid #99a7b9; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 55, ../sass/_layout.scss */
    .navigation {
      margin-top: 10px;
      padding-bottom: 0px; } }
  @media only screen and (max-width: 479px) {
    /* line 55, ../sass/_layout.scss */
    .navigation {
      margin-top: 10px;
      padding-bottom: 0px; } }

/* line 70, ../sass/_layout.scss */
.navigation:after {
  content: "";
  width: 100%;
  margin-top: 4px;
  display: block;
  border-bottom: 1px solid #99a7b9; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 70, ../sass/_layout.scss */
    .navigation:after {
      border-bottom: none; } }
  @media only screen and (max-width: 479px) {
    /* line 70, ../sass/_layout.scss */
    .navigation:after {
      border-bottom: none; } }

/* line 84, ../sass/_layout.scss */
#nav {
  height: 20px;
  margin-bottom: 8px;
  width: 100%;
  float: left; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 84, ../sass/_layout.scss */
    #nav {
      height: auto;
      text-align: left;
      margin-bottom: 0px; } }
  @media only screen and (max-width: 479px) {
    /* line 84, ../sass/_layout.scss */
    #nav {
      height: auto;
      text-align: left;
      margin-bottom: 0px; } }
  /* line 107, ../sass/_layout.scss */
  #nav li {
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: top;
    position: relative;
    margin-right: 30px;
    float: left; }
    /* line 117, ../sass/_layout.scss */
    #nav li a {
      text-decoration: none;
      display: block; }
    /* line 118, ../sass/_layout.scss */
    #nav li a:hover {
      text-decoration: none;
      color: white; }
    /* line 119, ../sass/_layout.scss */
    #nav li:last-child {
      padding-right: 0px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      /* line 107, ../sass/_layout.scss */
      #nav li {
        font-size: 11px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 107, ../sass/_layout.scss */
      #nav li {
        display: block;
        padding-top: 5px; } }
    @media only screen and (max-width: 479px) {
      /* line 107, ../sass/_layout.scss */
      #nav li {
        display: block;
        padding-top: 5px; } }
  /* line 135, ../sass/_layout.scss */
  #nav ul {
    background: #fff;
    background: rgba(255, 255, 255, 0.99);
    list-style: none;
    position: absolute;
    z-index: 9999;
    left: -9999px;
    padding: 5px; }
  /* line 144, ../sass/_layout.scss */
  #nav ul li {
    padding-top: 1px;
    float: none; }
  /* line 148, ../sass/_layout.scss */
  #nav ul a {
    white-space: nowrap; }
  /* line 151, ../sass/_layout.scss */
  #nav li:hover ul {
    left: 0px;
    /* Bring back on-hover */ }
  /* line 154, ../sass/_layout.scss */
  #nav li:hover a {
    text-decoration: none; }
  /* line 157, ../sass/_layout.scss */
  #nav li:hover ul a {
    text-decoration: none; }
  /* line 161, ../sass/_layout.scss */
  #nav li:hover ul li a:hover {
    color: #0c2649; }
  /* line 167, ../sass/_layout.scss */
  #nav .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0; }

/* Hompage Styles
================================================== */
/* line 181, ../sass/_layout.scss */
.slides {
  margin-bottom: 20px; }

/* line 182, ../sass/_layout.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10px; }
  /* line 191, ../sass/_layout.scss */
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px; }
  /* line 202, ../sass/_layout.scss */
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left; }
  /* line 208, ../sass/_layout.scss */
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0; }

/* line 217, ../sass/_layout.scss */
.border_box {
  border: 1px solid silver; }

/* line 218, ../sass/_layout.scss */
.border_inner {
  margin: 4px;
  border: 1px solid silver; }

/* line 221, ../sass/_layout.scss */
.home_quote {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #0c2649;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  left: 7px;
  right: 0;
  bottom: 10%;
  text-indent: -1ex;
  margin-left: 560px;
  width: 385px; }
  /* line 237, ../sass/_layout.scss */
  .home_quote p {
    padding: 20px 12px 20px 15px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 28px;
    font-family: "minion-pro",sans-serif;
    font-weight: bold;
    font-style: italic; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    /* line 221, ../sass/_layout.scss */
    .home_quote {
      margin-left: 455px;
      width: 310px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 221, ../sass/_layout.scss */
    .home_quote {
      margin-left: 0px;
      width: -15px;
      left: 0;
      bottom: 5%;
      width: 420px; }
      /* line 249, ../sass/_layout.scss */
      .home_quote p {
        padding: 10px 10px 10px 10px;
        margin: 5px;
        background: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        line-height: 20px;
        font-family: "minion-pro",sans-serif;
        font-weight: bold;
        font-style: italic; } }
  @media only screen and (max-width: 479px) {
    /* line 221, ../sass/_layout.scss */
    .home_quote {
      width: 300px;
      margin-left: 0px;
      width: -15px;
      left: 0;
      bottom: 2%; }
      /* line 258, ../sass/_layout.scss */
      .home_quote p {
        padding: 10px 10px 10px 10px;
        margin: 5px;
        background: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        line-height: 20px;
        font-family: "minion-pro",sans-serif;
        font-weight: bold;
        font-style: italic; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 263, ../sass/_layout.scss */
  .callout {
    margin-top: 20px; } }
@media only screen and (max-width: 479px) {
  /* line 263, ../sass/_layout.scss */
  .callout {
    margin-top: 20px; } }

/* line 271, ../sass/_layout.scss */
.home_callout {
  margin: 4px;
  border: 1px solid silver;
  text-align: center;
  padding: 16px 0px 16px 0px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    /* line 271, ../sass/_layout.scss */
    .home_callout {
      height: 82px; } }
  /* line 282, ../sass/_layout.scss */
  .home_callout h2 {
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: normal; }
    /* line 287, ../sass/_layout.scss */
    .home_callout h2 a {
      color: #444444;
      text-decoration: none; }
    /* line 291, ../sass/_layout.scss */
    .home_callout h2 a:hover {
      color: #99a7b9;
      text-decoration: none; }

/* line 298, ../sass/_layout.scss */
.home_line {
  margin-top: 30px;
  padding-bottom: 4px;
  border-bottom: 1px solid #99a7b9; }
  /* line 303, ../sass/_layout.scss */
  .home_line:after {
    content: "";
    width: 100%;
    margin-top: 4px;
    display: block;
    border-bottom: 1px solid #99a7b9; }

/* line 312, ../sass/_layout.scss */
.home_column {
  padding: 15px 0px 10px 0px; }
  /* line 315, ../sass/_layout.scss */
  .home_column h2 {
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid #99a7b9;
    padding-bottom: 4px; }
    /* line 320, ../sass/_layout.scss */
    .home_column h2:after {
      content: "";
      width: 100%;
      margin-top: 12px;
      display: block;
      border-bottom: 1px solid #99a7b9; }
  /* line 329, ../sass/_layout.scss */
  .home_column p {
    padding-right: 30px; }

/* line 334, ../sass/_layout.scss */
a.more {
  float: right;
  font-weight: bold;
  font-style: italic; }

/* SUBHEADER Styles
================================================== */
/* line 338, ../sass/_layout.scss */
.page_title {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #0c2649;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  left: 7px;
  right: 0;
  bottom: 17%;
  margin-left: 560px;
  width: 385px; }
  /* line 353, ../sass/_layout.scss */
  .page_title h1 {
    padding: 20px 12px 20px 15px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.7);
    font-family: "minion-pro",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    /* line 338, ../sass/_layout.scss */
    .page_title {
      margin-left: 455px;
      width: 310px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 338, ../sass/_layout.scss */
    .page_title {
      width: 410px;
      margin-left: 0px;
      width: -15px;
      right: 0;
      bottom: 4%; }
      /* line 366, ../sass/_layout.scss */
      .page_title h1 {
        padding: 10px 5px 5px 10px;
        margin: 5px;
        background: rgba(255, 255, 255, 0.7);
        font-size: 20px;
        line-height: 20px;
        font-family: "minion-pro",sans-serif;
        font-weight: bold;
        font-style: italic; } }
  @media only screen and (max-width: 479px) {
    /* line 338, ../sass/_layout.scss */
    .page_title {
      width: 300px;
      margin-left: 0px;
      width: -15px;
      left: 0;
      bottom: 2%; }
      /* line 375, ../sass/_layout.scss */
      .page_title h1 {
        padding: 8px 5px 8px 5px;
        margin: 5px;
        background: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        line-height: 20px;
        font-family: "minion-pro",sans-serif;
        font-weight: bold;
        font-style: italic; } }

/* PAGE Styles
================================================== */
/* line 382, ../sass/_layout.scss */
.page_content {
  margin-top: 20px; }
  /* line 385, ../sass/_layout.scss */
  .page_content h2 {
    text-transform: uppercase;
    color: #0c2649;
    font-weight: normal;
    border-bottom: 1px solid #99a7b9;
    padding-bottom: 4px; }
    /* line 391, ../sass/_layout.scss */
    .page_content h2:after {
      content: "";
      width: 100%;
      margin-top: 0px;
      display: block;
      border-bottom: 1px solid #99a7b9; }

/* line 401, ../sass/_layout.scss */
.page_nav {
  padding: 15px 15px 40px 15px; }
  /* line 403, ../sass/_layout.scss */
  .page_nav li {
    padding-bottom: 6px; }
  /* line 404, ../sass/_layout.scss */
  .page_nav li a {
    color: #444444;
    text-transform: uppercase;
    font-weight: bold; }
  /* line 405, ../sass/_layout.scss */
  .page_nav li a:hover {
    color: silver; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 401, ../sass/_layout.scss */
    .page_nav {
      padding: 15px 15px 15px 15px; } }
  @media only screen and (max-width: 479px) {
    /* line 401, ../sass/_layout.scss */
    .page_nav {
      padding: 15px 15px 15px 15px; } }

/* line 414, ../sass/_layout.scss */
.page_side {
  margin-top: 20px; }

/* line 419, ../sass/_layout.scss */
.testimonials p {
  color: #0c2649;
  font-family: "minion-pro",sans-serif;
  font-weight: bold;
  font-style: italic;
  padding: 25px 15px 25px 15px; }
@media only screen and (max-width: 479px) {
  /* line 417, ../sass/_layout.scss */
  .testimonials {
    display: none; } }

/* line 436, ../sass/_layout.scss */
.landing_blocks {
  padding-left: 65px; }
  /* line 438, ../sass/_layout.scss */
  .landing_blocks .columns {
    margin-bottom: 20px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    /* line 436, ../sass/_layout.scss */
    .landing_blocks {
      padding-left: 20px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 436, ../sass/_layout.scss */
    .landing_blocks {
      padding-left: 0px; } }
  @media only screen and (max-width: 479px) {
    /* line 436, ../sass/_layout.scss */
    .landing_blocks {
      padding-left: 0px; } }

/* line 455, ../sass/_layout.scss */
.content ul, .content ol {
  margin-bottom: 10px; }
/* line 456, ../sass/_layout.scss */
.content ul {
  list-style: outside; }
/* line 457, ../sass/_layout.scss */
.content ol {
  list-style: decimal; }
/* line 458, ../sass/_layout.scss */
.content ol, .content ul {
  margin-left: 30px; }
/* line 461, ../sass/_layout.scss */
.content ul ul, .content ul ol,
.content ol ol, .content ol ul {
  margin: 0px 0 0px 0px;
  font-size: 100%; }
/* line 463, ../sass/_layout.scss */
.content ul ul li, .content ul ol li,
.content ol ol li, .content ol ul li {
  margin-bottom: 0px; }
/* line 464, ../sass/_layout.scss */
.content li {
  line-height: 18px;
  margin-bottom: 0px; }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 453, ../sass/_layout.scss */
  .content {
    padding-top: 20px; } }
@media only screen and (max-width: 479px) {
  /* line 453, ../sass/_layout.scss */
  .content {
    padding-top: 20px; } }

/* FOOTER Styles
================================================== */
/* line 479, ../sass/_layout.scss */
#footer {
  width: 100%;
  background-color: silver;
  margin-top: 80px; }

/* line 484, ../sass/_layout.scss */
.footer {
  padding-top: 20px; }
  /* line 489, ../sass/_layout.scss */
  .footer .menu ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width: 450px; }
    @media only screen and (max-width: 479px) {
      /* line 489, ../sass/_layout.scss */
      .footer .menu ul {
        display: none; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 489, ../sass/_layout.scss */
      .footer .menu ul {
        display: none; } }
  /* line 505, ../sass/_layout.scss */
  .footer .menu li {
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 18px; }
    /* line 510, ../sass/_layout.scss */
    .footer .menu li ul li {
      font-weight: normal;
      margin-bottom: 4px; }
  /* line 512, ../sass/_layout.scss */
  .footer .menu li a {
    color: #fff; }
    /* line 514, ../sass/_layout.scss */
    .footer .menu li a:hover {
      color: #0c2649; }
  /* line 518, ../sass/_layout.scss */
  .footer h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 18px; }
  /* line 519, ../sass/_layout.scss */
  .footer span.contact {
    color: #0c2649; }
  /* line 520, ../sass/_layout.scss */
  .footer p a {
    color: #0c2649; }
  /* line 521, ../sass/_layout.scss */
  .footer p a:hover {
    color: white; }
  /* line 522, ../sass/_layout.scss */
  .footer a img:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  /* line 524, ../sass/_layout.scss */
  .footer .footer_icon {
    padding-top: 140px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      /* line 524, ../sass/_layout.scss */
      .footer .footer_icon {
        padding-top: 180px; }
        /* line 528, ../sass/_layout.scss */
        .footer .footer_icon img {
          max-width: 50px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      /* line 524, ../sass/_layout.scss */
      .footer .footer_icon {
        padding-top: 10px; }
        /* line 533, ../sass/_layout.scss */
        .footer .footer_icon img {
          display: none; } }
    @media only screen and (max-width: 479px) {
      /* line 524, ../sass/_layout.scss */
      .footer .footer_icon {
        padding-top: 10px; }
        /* line 538, ../sass/_layout.scss */
        .footer .footer_icon img {
          display: none; } }

/* line 544, ../sass/_layout.scss */
.copyright {
  border-top: 1px solid #99a7b9;
  padding-top: 10px; }

/* line 550, ../sass/_layout.scss */
.mesh {
  float: right;
  margin-top: -38px; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    /* line 550, ../sass/_layout.scss */
    .mesh {
      margin-top: 0px;
      float: left; } }
  @media only screen and (max-width: 479px) {
    /* line 550, ../sass/_layout.scss */
    .mesh {
      margin-top: 0px;
      float: left; } }

/* #Page Styles
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 570, ../sass/_layout.scss */
  .leftcol {
    background-color: #ff0000; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 570, ../sass/_layout.scss */
  .leftcol {
    background-color: #1234ff; } }
@media only screen and (max-width: 479px) {
  /* line 570, ../sass/_layout.scss */
  .leftcol {
    background-color: #003366; } }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
